h2 Albums List

.row
  .col-xs-3
    table.table.table-striped.table-haver
      thead
        th Album Name
        th Thumbnail
      tbody
        tr(ng-repeat='name in names')
          td: a#thumbNail(ui-sref='albums.show({name:name})') {{name.name}}
          td: img#thumbNail(ng-src='{{name.image}}')
