h3 Album Show
.row#inputRow
  .col-xs-3
    h4 Album: {{name}}
    h4 Date: {{album.date | date:yyyy-MM-dd}}
    h4 Date Created: {{album.createdAt | date:yyyy-MM-dd}}
    h4 Description: {{album.description}}
  .col-xs-3
    form(name='albumShow', novalidate)
      .form-group
        label(for='addPhotoInput') Add Photo
        input.form-control.center-block#addPhotoInput(type='file', ng-model='photo')
  .col-xs-2
    .form-group
      button.btn.btn-sm.btn-info#uploadButton(type='success', ng-click='addPhoto(photo)') Upload Photo
  .col-xs-4
    .form-group
      img#preview
br
.row
  .col-xs-12
    table.table.table-striped.table-hover
      tbody#albumPics(ng-repeat='photo in afPhotos track by $index')
          td: img.img-responsive.img-thumbnail(ng-src='{{photo.$value}}')
          td: button.btn.btn-sm.btn-warning(ng-click='deletePhoto($index)') Delete
